
/*
 * Heirarchy:
 *
 *      container
 *			header
 *			content-container
 *				content
 *				aside
 *			footer
 *              
 */


#container
{
	margin: 0 auto;
	width: 100%;
        min-width: 1400px;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
	position: fixed;
	width: 100%
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 100%;
	min-width: 1400px;
	background: #FFF url(/css/layout-two-liquid-background.gif) repeat-y 68% 0;
	position: relative;
	top: 80px;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 10px 0;
	margin: 0 0 0 2%;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 26%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.large_left_caption {
        text-align: left;
        font-size: 120%;
}

.small_left_caption {
        text-align: left;
        font-size: 100%;
}

.border {
        border: solid 10px green;
}

.otable {
        border-collapse: collapse;
}

.table {
        border: solid 2px #ccc;
}

.tr_odd {
        background: #E6E6E6;
        font-size: 75%;
}

.tr_even {
        font-size: 75%;
}

.th {
        background: light-grey;
}

.td {
}


